<!-- messages.component.html -->

<div #chatContainer class="chat-container">
  <ng-container *ngFor="let message of messages; let i = index">
    <!-- Affichage de la date -->
    <div *ngIf="showDateHeader(messages, i)" class="date-header">
      {{ message.timestamp | date: 'mediumDate' }}
    </div>

    <!-- Affichage du message texte -->
    <div class="message-text">
      {{ message.text }}
    </div>

    <!-- Affichage de l'image si imageUrl est présent -->
    <img *ngIf="message.imageUrl" [src]="message.imageUrl" alt="Image" class="message-image">
  </ng-container>
</div>